*{
	margin : 0;
	padding : 0;
	list-style-type: none;
}
a{
	text-decoration: none;
	color:#000;
}
.tabs{
	width: 498px;
	height: 120px;
	border:1px solid #ccc;
	margin:100px auto;

	overflow: hidden;
}
.tabs .tab_header{
	height: 28px;
	line-height: 28px;
	background-color: #e8e8e8;
}
.tab_header ul{
	width: 500px;
}
.tab_header ul li{
	float: left;
	width: 98px;
	border-bottom: 1px solid #ccc;

	padding: 0 1px;

	text-align: center;
	cursor: pointer;
}
.tab_header ul li.selected {
	background-color: #fff;
	border-bottom: none;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding: 0;
}
.tab_header ul li:nth-child(1){
	border-left:none;
}
.tab_header ul li:nth-last-child{
	border-right:none;
}
.tab_header ul li:hover{
	color:orangered;
	font-weight: bold;
}

/*tab_content*/
.tab_content{

}
.tab_content .dom{
	padding-top: 20px;
	display: none;
}
.tab_content .dom ul li{
	float: left;
	width: 220px;
	text-align: center;
	margin:6px;
}